* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    --primary-color: #F40000;
    --secondary-color: #F44E3F;
    --terciary-color: #F4796B;
    --quarternary-color: #F4998D;
    --black-color: #090809;
}

header {
    background-color: var(--primary-color);
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-buttons {
    display: flex;
    gap: 1.5rem;
}

.buttons {
    width: 5rem;
    height: 2.5rem;
    border: 0.1rem solid white;
    background-color: transparent;
    color: white;
}

.buttons:hover {
    cursor: pointer;
    background-color: var(--quarternary-color);
}